<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Hi, <span style="color: #f5821f">${username}</span></h1>
        <img style="width:100%; height: auto; max-width: 350px;" src="http://sunshinebottling.com/wp-content/uploads/2019/05/SunshineBottlingcompany-1.png" alt = "Изображение теряется...">
        <h3>
            Have you forgotten your password?
        </h3>
        <h2>
            If you have then here is your password restore code - <span style="color: #00a3b4">${restoreCode}</span>
        </h2>
        <h2>
            To set new password please follow: <a>http://localhost:8080/reset_password/${restoreCode}</a> with newPassword as parameter
        </h2>
        <h3>
            If you didn't send a request, be alert that someone tries to reset your password!
        </h3>
    </body>
</html>